version: "3.9"

services:
  app:
    build: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./public/storage:/usr/src/app/public/storage
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    depends_on:
      - app
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./public/storage:/usr/share/nginx/html/storage:ro
    restart: unless-stopped

volumes:
  storage:
    driver: local
